*{
	margin: 0;
	padding:0;
	font-family: sans-serif;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images\ \(2\).jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid;
	border-radius: 20px;
	transition: 1.5s;
	margin: 10px;

}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	width: 400px;
	margin: auto;
	background-color: #fff;
	color: #000;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 33%;
	left: 30%;
	transform: translate(-50%;-50%);
}
.title h1{
	font-family: Brush Script MT;
	color: #fff;
	font-size: 90px;
}
.slogan{
	position: absolute;
	top: 47%;
	left: 41%;
	transform: translate(-50%;-50%);
}
.slogan h2{
	color: #ffffff;
	font-size: 16px;
	font-family: Calibri;
	margin: 10px;
}
.button{
	position: absolute;
	top: 55%;
	left: 34%;
	transform: translate(-50%;-50%);
}
.btn1{
	border: 2px solid #fff;
	padding: 10px 40px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 20px;
	margin: 100px;
}
.btn1:hover{
	background-color: red;
	color: #fff
}
.top{
	position: absolute;
	margin-top: 18px;
	left: 5%;
	transform: translate(-50%;-50%);
}
.top .copy{
	color: #fff;
	font-size: 30px;
	font-family: Brush Script MT;
	text-decoration: none;
}	